.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.service-section {
  width: var(--default-width);
}

.upper-section {
  display: flex;
  background-color: aqua;
  align-items: center;
  width: 100%;
  justify-content: space-between;
 
  margin-top: 50px;
}
.upper-section p{

width: 60%;
text-align: left;
}

.upper-section p:first-child{
color: black;
font-size: 46px;

}
.upper-section p span{
color: var(--primary-color);
}




/* Responsive Grid */
.service-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); /* Default: 4 items per row */
}

@media (max-width: 1240px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr); /* Tablet: 3 items per row */
  }
}

@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr); /* Mobile: 2 items per row */
  }
}
@media (max-width: 560px) {
  .service-grid {
    grid-template-columns: repeat(1, 1fr); /* Mobile: 2 items per row */
  }
}

/* Pagination */
.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.prev-btn, .next-btn {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
