.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.service-section {
  width: var(--default-width);
}

.upper-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.upper-section h1 {

  font-weight: 700;
  line-height: 1;
  width: 40%;
}
.upper-section h1 span{
color: var(--primary-color);
}

.upper-section p {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}



/* Responsive Grid */
.service-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); /* Default: 4 items per row */
}

@media (max-width: 1240px) {
  .service-grid {
    grid-template-columns: repeat(3, 1fr); /* Tablet: 3 items per row */
  }
}

@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr); /* Mobile: 2 items per row */
  }
}
@media (max-width: 560px) {
  .service-grid {
    grid-template-columns: repeat(1, 1fr); /* Mobile: 2 items per row */
  }
}

/* Pagination */
.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.prev-btn, .next-btn {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
