.contact-section {
  width: var(--default-width);
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
}
.contact-form-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  height: fit-content;
}
.contact-form-section .left {
  width: 49%;
  height: fit-content;
  background-color: var(--tertiory-color);
  padding: 40px;
  border-radius: var(--border-radius);
}
.contact-form-section .right {
  width: 49%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-form-section .left h1 {
  margin: 10px 0;
}
.contact-form-section .left h3 {
  margin: 0;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
  font-size: var(--heading-size);
}

.contact-form-section .left .input-group {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.contact-form-section .left .input-field {
  width: 100%;
  margin-bottom: 10px;
}

.contact-form-section .left .checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.contact-form-section .left .checkbox-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: background-color 0.3s;
}
.contact-form-section .left .checkbox-item label {
  cursor: pointer;
}

.contact-form-section .left .checkbox-item input {
  margin-right: 8px;
  cursor: pointer;
}
.contact-form-section .left .checkbox-item input[type="checkbox"] {
  accent-color: var(--primary-color);
  width: 16px;
  height: 16px;
}

.contact-form-section .left input,
.contact-form-section .left textarea {
  width: 100%;
  padding: 12px;

  border: 1px solid #ddd;
  border-radius: 6px;
}

.send-btn {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  transition: 0.3s ease;
}

.send-btn:hover {
  background-color: white;
  color: var(--primary-color);
}
.contact-form-section .right-contact-img {
  background-color: #ffdfe6;
  width: 100%;
  height: 550px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.contact-form-section .right-contact-img .bg-contact {
  height: 100%;
  width: 100%;
}
.info-box {
  padding: 25px;
  background-color: var(--tertiory-color);
  border-radius: 12px;
  border-radius: var(--border-radius);
}
.info-box a {
  text-decoration: none;
  color: black;
}

.info-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.info-item:hover {
  transform: scale(1.01);
}
.info-item h4 {
  margin: 0%;
  padding: 0%;
  font-size: 20px;
}

.assssss {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.assssss p {
  margin-bottom: 0%;
}
.info-item svg {
  font-size: 38px;

  background-color: var(--primary-transparent-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.error-msg {
  font-size: 10px;
  color: red;
  margin: 0%;
}

/* Make input full width without space for flag */
.custom-phone-container .form-control {
  padding: 22px !important;
  padding-left: 48px !important;
}
@media (max-width: 768px) {
  .contact-form-section {
    flex-direction: column;
  }
  .contact-form-section .right {
    width: 100%;
    margin-top: 20px;
    height: fit-content;
  }
  .contact-form-section .left {
    width: 100%;
  }
  .right-img {
    display: none;
  }
}
