.nav-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  
  
}
.header a {
  text-decoration: none;
  color: var(--secondary-color);
 
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth scaling effect */
}

.header a:hover {
  transform: scale(1.02);
}
.header-logo {
  height: 50px;
}
.header {
  width: 100%;
  
  padding-left: var(--side-padding);
 
  position: fixed;
  z-index: 3;
  background-color: white;
}
.heading-area{
  width: var(--default-width);
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
  text-align: center;

}
.heading-area p{
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.heading-area p span{
 color: var(--secondary-color);
}

.heading-area .sub-heading{
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: var(--default-width2);
  margin-left: var(--side-padding2);
  margin-right: var(--side-padding2);
 
}
.menu-item {
  padding: 5px;
  margin: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.menu-item:hover {
  color: var(--secondary-color);
  background-color: var(--primary-transparent-color);
  
}

.menu-item.active {
  color: var(--secondary-color);
  
  border-bottom: 3px solid var(--secondary-color);
}



.menu-item:last-child {
  padding: 5px;
  background-color: var(--secondary-color);
  margin-right:-1px ;
  border-top-left-radius: var(--border-radius-secondary);
  border-bottom-left-radius: var(--border-radius-secondary);
  border-style: none;
  color: white;
  border: 2px solid var(--secondary-color);
  padding: 5px 15px;
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  border-color: var(--black-color) !important;
  color: var(--secondary-color) !important;
  box-shadow: 0px 2px 3px var(--primary-transparent-color) !important;
  background-color: var(--primary-transparent-color) !important;
}
@media (max-width: 756px) {

  .header-logo{
    height: 30px;

  }
  .header {
    width: 100%;
   
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    position: fixed;
    background-color: white;
  }
  .heading-area .sub-heading{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: var(--default-width);
    margin-left: var(--side-padding);
    margin-right: var(--side-padding);
   
  }
  .menu-item:last-child {
    padding: 5px;
    background-color: var(--secondary-color);
    margin-right:1px ;
    border-radius: var(--border-radius-secondary);
    border-style: none;
    color: white;
    border: 2px solid var(--secondary-color);
   width: 100%;
  }
}