:root {
  --primary-color: #BB0025;
  --black-transparent-color: #0000006b;
  --secondary-color: #BB0025;
  --fourth-color: #ff0101;
  --tertiory-color:#D9D9D980;
  --border-radius: 20px;
  --border-radius-secondary: 8px;
  --all-side-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.733);
  --all-side-box-shadow2: 0px 0px 3px #334eac;
  --default-width: 94%;
  --side-padding: 3%;
 
}

.main-content{
  padding-top: 100px;
}
@media (max-width: 1000px) {
  :root {
    --fontsize-heading: 30px;
    --default-width: 90%;
    --side-padding: 5%;
    --margin-below-cards: 50px;
    --heading-top-space: 0px;
    --heading-bottom-space: 18px;
    --span-heading-space: 33px;

    --heading-font: 18px;
    --hero-section-heading: 40px;
    --hero-section-description: 14px;
    --hero-section-height: 435px;
    --service-card-height: 365px;
    --service-card-img-height: 159px;
    --service-card-p-height: 140px;
    --card-p-size: 14px;

    --team-background-height: 400px;
  }
  .heading-area p{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }
}

